#header1 {
    background: #fff;
    transition: all 0.5s;
    
    z-index: 997;
    padding: 18px 0;
    top: 3px;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #2c4964;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      top: 0;
    }
    #header .logo {
      font-size: 28px;
    }
  }
  .main{
    margin-top: 149px;
    padding-left: 521px;
    padding-right: 619px;
}
  